.root {
  li {
    display: inline-block;
    text-align: center;
    width: 40px;
    line-height: 38px;
    height: 40px ;
    padding: 10px;
    border: 1px solid #fe5f1e;
    border-radius: 30px;
    margin-right: 40px;
  }

  &:hover {
    background-color: #fe5f1e ;
  }

  a {
    display: inline-block;
    &:hover {
      color: #ffffff;
    }
  }

  :global {
    .previous {

    }
    .next {

    }
  }
}